* {
  margin: 0px;
}

.cabecera {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-image: url(https://picsum.photos/id/350/1200/1200);
  background-position: center;
  background-size: cover;
}

img {
  height: 400px;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: purple;
}

.nav_element {
  font-family: Nunito;
  color: #fff;
}


.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

p {
  font-family: Nunito;
  font-size: 14px;
}

.card {
  height: 400px;
  width: 350px;
  border-style: solid;
}

.titulo_card {
  font-family: Montserrat;
  margin-bottom: 5px;
}

.cuerpo_card {
  padding: 20px;
}

/* No entiendo bien el uso de transform: translate - Duda para Enric*/
.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Montserrat;
  color: #fff;
}

/* Igual que anterior. No entiendo bien el uso de transform: translate - Duda para Enric*/

.centered2 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Montserrat;
  color: #fff;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
  background-color: #2f4f4f;
  font-family: Nunito;
  color: #fff;
}
